@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="background">
<div class="text-center">
    <h1 class="display-4 welcome">Welcome to Rick's Friends Page'</h1>
    <p><a asp-area="" asp-page="/Characters/Index">Click here to List Characters</a></p>
</div>
</div>
